NEXT_PUBLIC_API_URL=http://localhost:8000/api
NEXT_PUBLIC_APP_URL=http://localhost:3000
NEXT_PUBLIC_SHOP_URL=http://localhost:3003
NEXT_PUBLIC_VENDOR_URL=http://localhost:3002
NEXT_PUBLIC_ADMIN_URL=http://localhost:3001
